.project
.metadata
.pydevproject
.idea
.spyproject
downloads
*_live.db
*/__pycache__
**/__pycache__
*/.idea
**/.DS_Store
trash
dataOut*
**/BAK*
**/*.pyc
**/*.bin
**/*.kml
**/*.lof
**/*.out
**/*.gz
**/*.toc
**/*.aux
**/*.log
**/*.lot
Aero/OpenVSP
openMDAO
**/*.ini
**/*.exe
**/*.dll
**/*.txt
**/*.p3d
**/*.pem
**/bin/*
**/gmsh
**/su2-windows-latest
**/construct2d
**/~*
**/bin
**/logs
.env
.pyenv
env
# .vscode
*.code-workspace
**/bash.exe.stackdump
**/*.zip
**/tmp
**/logs
python*
**/release
**/certs
config.json
**/old
**/*.csv

wireshark
.pypirc
dist
.vscode

# include
!requirements.txt
